<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zajecia_ASPNET</title>
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" />
</head>
<body>
    <header>
        <div class="header_container" >
            <h1>
                Kurs ASP.NET 
            </h1>
            <nav>
                <a href="/Bookshelf/List"> Lista książek</a>
                <a href="/Bookshelf/Add"> Dodaj książkę</a>
            </nav>
        </div>
        
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <div>Created by Marcin Złotek | 2021</div>
    </footer>
    @* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
